/*
 font-family: "Inter Tight", sans-serif; 
 font-family: "Inter", sans-serif;
 */

body {
    margin: 0;
    background-color: #151515;
    color: white;
    height: 100vh;
    position: relative;
}

/* Logo lá em cima */
.imgdog {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2E2C30;
    width: 160px;
    height: 48px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgdog img {
    width: 120px;
    height: 24px;
}

/* Centralizando só o quadrado */
.agendamento {
    width: 871px;
    height: 768px;
    /* background-color: darksalmon; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    /* display: none; */
}


/* TITLE */

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* ajuda em telas pequenas */
  }
  
  .title-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
.title-text h1 {
    font-family: "Inter Tight", sans-serif; 
    color: white;
    font-size: 24px;
}

.title-text p{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #98959D;   
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.custom-date {
    position: relative;
    display: inline-block;
  }
  
.icon-left {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
  
.icon-left img,
.icon-right img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}
  
.icon-right {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#date {
    width: 172px;
    height: 48px;
    border-radius: 10px;
    border: 1px #3E3C41 solid;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #98959D;
    background-color: transparent;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 30px;
    appearance: none;
    text-align: left;
}


/* SEASON */

.season-morning, .season-after, .season-night{
    width: 100%;
    height: auto;
    background-color: #23242C;
    border-radius: 10px;
    margin-top: 12px;
}

.title{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.title h3{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 16px;
}

.title img{
    height: 19px;
    width: 19px;
    margin-left: 20px;
}

.title p {
    font-family: "Inter", sans-serif;
    color: #98959D;
    font-weight: bold;
    font-size: 16px;
    margin-left: 75%;
}

.linha{
    background-color: #98959D;
    width: 100%;
    height: 1px;
}


/* ATIVIDADES  */
.atividade{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}

.hour{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

.name-dog{
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.division{
    color: #98959D;
}

.name-human{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #98959D;
}

.objective{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #98959D;
    margin-left: 20%;
}

.remove-item{
    border: none;
    background-color: transparent;
    color: #98959D;
    cursor: pointer;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-left: 15%;
}

.remove-item:hover{
    color: red;
}



/* NOVO AGENDAMENTO */
.button-new {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* mantém à direita */
}

#new-agend {
    background-color: #9282FA;
    border: none;
    border-radius: 8px;
    width: 218px;
    height: 48px;
    color: #050505;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin-right: 40px;
    margin-top: 20px; 
    cursor: pointer;
}